<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <link href="Dashboard%20Template%20for%20Bootstrap_files/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <link href="/css/dashboard.css" rel="stylesheet">
    <link href="/css/navbar.css" rel="stylesheet">
    <link href="/css/goal-list.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/jquery-ui.css">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- <script src="Dashboard%20Template%20for%20Bootstrap_files/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">

        .main {
            height: 400px;
            display: inline-flex;
            width: 82%;
        }

        .left, .right {
            display: inline-block;
            height: 100%;
            width: 50%;
        }
    </style>
  </head>

  <body>

    <%= erb 'navbar'.to_sym %>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="./dash">Dashboard</a></li>
            <li><a href="./goal/new">Set goal</a></li>
            <li><a href="./goal/list">View goals</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
          </ul>
        </div>
	    </br></br></br>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="left"></div>
            <div class="right">
                
                <div class="caption titled">→ <b>Users ranking</b><br><br><br>
                <div class="top-links">
                </div>
                </div>
                <table class="rtable ">
                <tbody>
                <tr>
                <th class="" style="width: 10%;">#</th>
                <th class="" style="width: 50%;">User</th>
                <th class="">Achieved goals</th>
                </tr>
                <% @users.each_with_index do |user_it, index| %>
                    <tr>
                        <td class="dark"> <%= index + 1 %></td>
                        <td class="dark"><%= user_it.name %></td>
                        <td class=" dark"><%= user_it.completed_goals %></td>
                    </tr>
                <% end %>

                
                </tbody>
                </table>

                </div>
            </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.js"></script>
    <script src="/js/create-goal.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.js"><\/script>')</script>
    <script src="/js/jquery-1.10.2.js"></script>
    <script src="/js/jquery-ui.js"></script>

</body></html>
